.Rproj.user
.Rhistory
.RData
.Ruserdata
/Analysis/Data/StockTwits/AAPL
/Analysis/Data/StockTwits/GE
/Analysis/Data/StockTwits/XOM
/Analysis/Data/StockTwits/KO
/Analysis/Data/StockTwits/PG
/Analysis/Data/TwitterData/XOM
/Analysis/Data/TwitterData/AAPL
/Analysis/Data/TwitterData/GE
/Analysis/Data/TwitterData/KO
/Analysis/Data/TwitterData/PG
/Analysis/Data/TwitterData/*.Rout
/Analysis/Data/StockTwits/*.Rout
/Analysis/Data/YahooFinance/AAPL
/Analysis/Data/YahooFinance/XOM
/Analysis/Data/YahooFinance/AMZN
/Analysis/Data/YahooFinance/BA
/Analysis/Data/YahooFinance/DWDP
/Analysis/Data/YahooFinance/JNJ
/Analysis/Data/YahooFinance/JPM
/Analysis/Data/YahooFinance/NEE
/Analysis/Data/YahooFinance/PG
/Analysis/Data/YahooFinance/SPG
/Analysis/Data/YahooFinance/VZ
/Analysis/Data/TwitterData/JPMorgan Chase
/Analysis/Data/TwitterData/NextEra
/Analysis/Data/TwitterData/Proctor&Gamble
/Analysis/Data/TwitterData/SimonPropertyGroup
/Analysis/Data/TwitterData/Verizon
/Analysis/Data/TwitterData/Amazon
/Analysis/Data/TwitterData/Apple
/Analysis/Data/TwitterData/Boeing
/Analysis/Data/TwitterData/DowDuPont
/Analysis/Data/TwitterData/Exxon
/Analysis/Data/TwitterData/Johnson&Johnson
/Analysis/Data/YahooFinance/getNews.Rout
/Analysis/Data/StockTwits/AMZN
/Analysis/Data/StockTwits/BA
/Analysis/Data/StockTwits/VZ
/Analysis/Data/StockTwits/DWDP
/Analysis/Data/StockTwits/JNJ
/Analysis/Data/StockTwits/JPM
/Analysis/Data/StockTwits/NEE
/Analysis/Data/StockTwits/SPG
/Analysis/Data/TwitterData/AMZN
/Analysis/Data/TwitterData/VZ
/Analysis/Data/TwitterData/BA
/Analysis/Data/TwitterData/DWDP
/Analysis/Data/TwitterData/JNJ
/Analysis/Data/TwitterData/JPM
/Analysis/Data/TwitterData/NEE
/Analysis/Data/TwitterData/SPG
